:root {
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --logo-black-color: #000000;
  --text-primary-color: #757575;
  --text-title-color: #212121;
  --text-primary-font: Roboto, sans-serif;
  --text-secondary-font: Raleway, sans-serif;
}

body {
  font-family: var(--text-primary-font);
  color: var(--text-primary-color);
  background-color: var(--primary-white-color);
}
/* СБРОС ОФОРМЛЕНИЯ ТЕКТА И ССЫЛОК */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* HEADER НАЧАЛО */

/* LOGO HEADER AND FOTTER */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  color: var(--accent-color);
}
.logo-header {
  color: var(--logo-black-color);
}
.logo-footer {
  color: var(--primary-white-color);
}
