:root {
  --primary-white-color: #ffffff; /**белый цвет фона и текста, логотипа в футере**/
  --theme-dark-color: #2f303a; /*темно серый цвет фона**/
  --theme-light-color: #f5f4fa; /**светло серый текст фона**/
  --accent-color: #2196f3; /**синий цвет выделения ссылок и кнопок при ховере, фокусе**/
  --btn-hero-hover-color: #188ce8; /**цвет кнопки при ховере в герое**/
  --logo-black-color: #000000; /**цвет второй части логотипа в хедере **/
  --contact-footer-color: rgba(255, 255, 255, 0, 6); /**цвет контактов в футере **/
  --text-primary-color: #757575; /**основной светло серый цвет текста**/
  --text-secondary-color: #212121; /**темно серый цвет тектса**/
  --text-primary-font: Roboto, sans-serif; /**основшой шрифт текта**/
  --text-secondary-font: Raleway, sans-serif; /**шрифт текста логотипа**/
  --letter-primary-spacing: 0.03em; /**основное межбуквенное растоани**/
}

body {
  font-family: var(--text-primary-font);
  letter-spacing: var(--letter-primary-spacing);
  color: var(--text-primary-color);
  background-color: var(--primary-white-color);
}

/* СБРОС ОФОРМЛЕНИЯ ДЛЯ СПИСКОВ И ССЫЛОК */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* -------------------- HEADER И FOOOTER НАЧАЛО -------------------- */
/* НEADER */
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* LOGO HEADER + FOOTER*/
.logo {
  font-family: var(--text-secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-header {
  color: var(--logo-black-color);
}
.logo-footer {
  color: var(--primary-white-color);
}

/*НАВИГАЦИЯ САЙТА И КОНТАКТЫ В ХЕДЕРЕ */
.nav-item {
  color: var(--text-secondary-color);
}
.contact-header {
  color: inherit;
}
.nav-item:focus,
.nav-item:hover,
.contact-item:focus,
.contact-item:hover,
.current {
  color: var(--accent-color);
}

/* FOTTER */
.footer {
  font-size: 14px;
  line-height: 1.71;
  background-color: var(--theme-dark-color);
}
/* КОНТАКТЫ В ФУТЕРЕ */
.address {
  font-style: normal;
  color: var(--primary-white-color);
}
.contact-footer {
  font-style: normal;
  color: var(--contact-footer-color);
}
.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

/* -----------------------HEADER, FOTTER КОНЕЦ-------------------------- */

/* HERO */
.hero {
  background-color: var(--theme-dark-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
